<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.mapper.GrowPlantAreaMapper">
    <resultMap id="PlantAreObjMap" type="com.hz.domain.complex.PlantAreObj">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="default_name" jdbcType="VARCHAR" property="defaultName" />
        <result column="default_desc" jdbcType="VARCHAR" property="defaultDesc" />
        <result column="game_obj_id" jdbcType="INTEGER" property="gameObjId" />
        <result column="grow_cycle" jdbcType="BIGINT" property="growCycle" />
        <result column="grow_cycle_time" jdbcType="BIGINT" property="growCycleTime" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="grower_id" jdbcType="INTEGER" property="growerId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
        <result column="grade" jdbcType="INTEGER" property="grade" />
        <result column="type" jdbcType="INTEGER" property="type" />
    </resultMap>
    <select id="selectAllByUserId" resultMap="PlantAreObjMap" parameterType="int">
        SELECT a.id,a.default_name,a.default_desc,a.game_obj_id,a.grow_cycle,a.grow_cycle_time,a.`status`,a.grower_id,g.`name`,g.`desc`,g.image_url,g.grade,g.type
        from grow_plant_area a LEFT JOIN game_obj g on a.game_obj_id = g.id WHERE a.grower_id  = #{id};
    </select>
</mapper>